<app-menu/>

<ion-header [translucent]="true" class="shadow-none">
  <ion-toolbar>
    <div class="mx-4 mt-4 mb-2">
      <div class="absolute right-4" id="menu-language">
        <ion-menu-button><ion-icon [src]="settingsIcon" class="w-6 h-6 py-3"></ion-icon></ion-menu-button>
      </div>
    </div>
    <div class="flex justify-between mb-2 mt-18">
      <div>
        <ion-title class="text-black-title-rnm-and-title-card font-bold text-2.5xl h-9 p-0 mx-4">{{'title_home_page' | translate}}</ion-title>
      </div>
      <div class="flex items-center mr-6">
        <ion-note class="text-red-600">
          <ion-icon name="heart" color="danger"></ion-icon>
          <ion-label>{{viewState.favoriteCharacters().length}}</ion-label>
        </ion-note>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button class="fab" (click)="modalFavorites()">
      <ion-icon name="heart" color="danger"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-img [src]="imageRickAndMorty"></ion-img>
  <div>
    <ion-searchbar [searchIcon]="lenIcon" placeholder="{{'searchbar_placeholder' | translate}}" [debounce]="1500" (ionInput)="searchCharacterByName($event)"></ion-searchbar>
  </div>
  <div>
    <div>
      <ion-title class="text-blue-text-title-characters font-bold pt-2 pb-2">{{'title_characters' | translate}}</ion-title>
    </div>
    <div class="flex justify-between my-1 mx-4">
      <ion-chip class="bg-slate-300" (click)="filterByStatus('None')">
        <ion-label class="text-slate-800 font-semibold text-xs">{{'chip_all_characters' | translate}}</ion-label>
      </ion-chip>
      <ion-chip class="bg-green-300" (click)="filterByStatus('Alive')">
        <ion-avatar class="bg-white m-0">
          <ion-img [src]="iconStatusAlive" class="flex justify-center items-center imgStatus"></ion-img>
        </ion-avatar>
          <ion-label class="pl-1 font-semibold text-xs text-green-800">{{'characters_status.status_alive' | translate}}</ion-label>
      </ion-chip>
      <ion-chip class="bg-red-300" (click)="filterByStatus('Dead')">
        <ion-avatar class="bg-white m-0">
          <ion-img [src]="iconStatusDead" class="flex justify-center items-center imgStatus"></ion-img>
        </ion-avatar>
        <ion-label class="pl-1 font-semibold text-xs text-red-800">{{'characters_status.status_dead' | translate}}</ion-label>
      </ion-chip>
      <ion-chip class="bg-blue-300" (click)="filterByStatus('unknown')">
        <ion-avatar class="bg-white m-0">
          <ion-img [src]="iconStatusUnknown" class="flex justify-center items-center imgStatus"></ion-img>
        </ion-avatar>
          <ion-label class="pl-1 font-semibold text-xs text-blue-800">{{'characters_status.status_unknown' | translate}}</ion-label>
      </ion-chip>
    </div>
  </div>

  @defer (on timer(2000)) {
    @if(charactersResultSignal().length){
      @for (character of charactersResultSignal(); track $index) {
        <ion-card class="bg-white shadow-none my-0 mx-4" (click)="showCharacter(character)">
          <div class="flex">
            <div class="py-3 flex">
                <ion-img src="{{character.image}}" class="image-character object-cover h-24 w-16"></ion-img>
              <div class="pl-4 w-64 content-center">
                <ion-card-title class="text-black-title-rnm-and-title-card text-base font-medium">{{character.name}}</ion-card-title>
                <ion-card-subtitle class="text-blue-text-subtitle-card text-sm">{{'character.location' | translate}}: {{character.location.name}}</ion-card-subtitle>
                <ion-label>{{character.species}}</ion-label>
              </div>
            </div>
            <div class="relative flex justify-center items-center">
              @if(character.status === "Alive"){
                <ion-img [src]="statusAlive" class="p-2"></ion-img>
              }@else if(character.status === "Dead"){
                <ion-img [src]="statusDead" class="p-2"></ion-img>
              }@else if(character.status === "unknown"){
                <ion-img [src]="statusUnknown" class="p-2"></ion-img>
              }
            </div>
          </div>
        </ion-card>
      }
      <ion-infinite-scroll (ionInfinite)="loadMoreCharacters($event)" threshold="10%">
        <ion-infinite-scroll-content loadingText="{{'message_loading_characters' | translate}}" loadingSpinner="bubbles"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    }@else{
      <div class="flex justify-center mt-6">
        <ion-label class="text-gray-400 font-semibold text-xl">{{'message_character_not_found' | translate}}</ion-label>
      </div>
      <div class="mt-6 mx-4">
          <ng-lottie [options]="notFound" />
      </div>
    }
  }@placeholder {
    <app-skeleton/>
  }


</ion-content>
